@font-face {
    font-family: 'Minecraftia';
    src: url('./components/Minecraftia-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

* {
    box-sizing: border-box;
    text-rendering: pixelated;
    font-family: 'Minecraftia', sans-serif;
}

body {
    margin: 0;
}

.header {
    height: 8vh;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-image: url('./components/header/background.jpeg');
    background-size: contain;
}

.title-text {
    margin: 0;
    
    font-size: 2rem;
    color: whitesmoke;
}

.nav-btn {
    height: 3rem;
    width: 8rem;
    margin-left: 1rem;

    border-radius: .5rem;
    border: 1px solid black;

    color: whitesmoke;
    background-image: url('./components/header/button-background.png');
}

.main-page {
    background-image: url('./components/content/mc-background.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    
    height: 92vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    width: 100%;
    
    backdrop-filter: blur(10px);
}

.book {
    height: 700px;
    width: 570px;
}

.page {
    height: 100%;
    width: 100%;

    object-fit: fill;
}

.about-container {
    position: relative;
    height: 85%;
    width: 80%;

    bottom: 92%;
    left: 10%;
}

.about {
    text-align: justify;

    margin: 0;
    height: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    backdrop-filter: blur(10px);
}

.menu-title {
    grid-area: title;
    justify-self: start;

    font-size: 1.2rem;

    background-color: #c6c6c6;
    margin: 0;
    padding-left: 1%;
}

.menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'title title title title';
    grid-template-rows: 3%;
    grid-auto-rows: auto;
    gap: 1rem;
    justify-items: center;
    align-items: center;

    height: 80%;
    
    background-color: #c6c6c6;
    border: 15px solid #c6c6c6;
    border-radius: 1rem;    
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    width: 100%;
    height: 100%;
        
    background-color: #8b8b8b;
}