@font-face {
    font-family: 'Minecraftia';
    src: url('./components/Minecraftia-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'Minecraftia', sans-serif;
    /* border: 1px solid limegreen; */
}

body {
    margin: 0;
}

.header {
    height: 8vh;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-image: url('./components/header/background.jpeg');
    background-size: contain;
}

.title-text {
    margin: 0;
    
    font-size: 2rem;
    color: whitesmoke;
}

.nav-btn {
    height: 3rem;
    width: 8rem;
    margin-left: 1rem;

    border-radius: .5rem;
    border: 1px solid black;

    color: whitesmoke;
    background-image: url('./components/header/button-background.png');
}

.main-page {
    background-image: url('./components/content/mc-background.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    
    height: 92vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    backdrop-filter: blur(10px);
    
    height: 100%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.book {
    height: 700px;
    width: 570px;
}

.page {
    height: 100%;
    width: 100%;

    object-fit: fill;
}

.about-container {
    position: relative;
    height: 85%;
    width: 80%;

    bottom: 92%;
    left: 10%;
}

.about {
    margin: 0;
    height: 100%;

    text-align: justify;
}
